@font-face {
    font-family: 'Bluelmin Benedict';
    font-style: normal;
    font-weight: 400;
    src: local('Bluelmin Benedict'), url('https://fonts.cdnfonts.com/s/47605/Bluelmin Benedict.woff') format('woff');
}